@{
    ViewBag.Title = "التعريف بالبرنامج والشركة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .BlockView {
        background-color: #F5F5F5;
        margin-left: 5px;
        height: 440px;
        max-width: 270px;
    }

    .img-about {
        margin-bottom: 20px;
        border-radius: 9px;
    }
    .Company {
        min-height: 500px;
    }
    .communcation {
        min-height: 460px;
    }
    .feature {
        min-height: 395px;
    }
</style>
<div class="col-md-12">
    <h4 class="page-title">مؤسسة حوران الشامل </h4>
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">
                برنامجسوبر ماركت الشفاء
            </a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <a href="#">
                نبذة عن الشركة والبرنامج
            </a>
        </li>
    </ul>
</div>
<div class="col-md-12">
    <img src="~/assets/Images/Large/about-banner.jpg" style="width: 100%;" class="img-responsive img-about" alt="مؤسسة حوران الشامل" />
</div>
<div class="col-md-12">
    <div class="col-md-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light Company">
            <div class="portlet-title">
                <div class="caption">
                    التعريف بالشركة
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Definition.jpg" class="img-responsive img-about" alt="التعريف بالشركة" />

                <p style="text-align: justify;">
                    نحن شركة متخصصة في مجال الاستشارات وخدمات تكنولوجيا المعلومات وتدريب الموظفيين على استخدام أحدث النظم الحاسوبية
                </p>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light Company">
            <div class="portlet-title">
                <div class="caption">
                    مهمة الشركة
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Mission.jpg" class="img-responsive img-about" alt="مهمة الشركة" />

                <p style="text-align: justify;">
                    تقديم حلول تكنولوجية تساعد المؤسسات والشركات على إنجاز العمل بشكل أسرع وأفضل
                    للمساهمة في نهضة أمتنا العربية والإسلامية وتقديم قيمة مضافة لسوق العمل .
                </p>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light Company">
            <div class="portlet-title">
                <div class="caption">
                    خدمات الشركة
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Services.jpg" class="img-responsive img-about" alt="خدمات الشركة" />

                <p style="text-align: justify;">
                    -
                    برامج متخصصة مبتكرة عالية الأداء من تطوير الشركة تقدم تجربة سهلة وفريدة للعملاء
                    <br />
                    -
                    إنشاء وتجهيز البنية التحتية لتقنية المعلومات لمقرات الشركات والمؤسسات
                </p>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
    <div class="col-md-3">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light Company">
            <div class="portlet-title">
                <div class="caption">
                    مراكز تدريب متخصصة
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/training.jpg" class="img-responsive img-about" alt="مراكز تدريب متخصصة" />

                <p style="text-align: justify;">
                    كما قامت الشركة مؤخرا بالتعاون مع الغرفة التجارية بإنشاء مراكز تدريب متخصصة على أحدث المستويات وقامت
                    باستقدام كادر فني على أعلي مستوي لإمداد سوق العمل بكوادر بشرية قادرة على تحقيق رؤية المملكة 2030 هـ
                </p>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered" style="background-color: #f1f4f7;">
            نبذة عن برنامجسوبر ماركت الشفاء
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet light communcation">
            <div class="portlet-title">
                <div class="caption">
                    تسجيل المبيعات
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Screen/export.jpg" class="img-responsive img-about" alt="تسجيل المبيعات" />
                <p style="text-align: justify;">
                    وهي عبارة عن شاشة لتسجيل بيانات المعاملة الصادرة الأساسية من
                    رقم المعاملة وسنة المعاملة والجهة المعدة للمعاملة
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet light communcation">
            <div class="portlet-title">
                <div class="caption">
                    إحالة المعاملة
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Screen/Refer.jpg" class="img-responsive img-about" alt="إحالة المعاملة" />
                <p style="text-align: justify;">
                    وهي عبارة عن شاشة يستطيع من خلالها الموظف إحالة المعاملة إلى قسم آخر لإتخاذ الإجراءات المناسبة
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet light communcation">
            <div class="portlet-title">
                <div class="caption">
                    البحث والإستعلام
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Screen/Search.jpg" class="img-responsive img-about" alt="البحث والإستعلام" />
                <p style="text-align: justify;">
                    وهي عبارة عن مجموعة من الشاشات يستطيع من خلالها الموظف البحث والإستعلام عن أي معاملة ويستطيع المستخدم فلترة
                    نتائج البحث من خلال عدد كبير من العوامل
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="portlet light communcation">
            <div class="portlet-title">
                <div class="caption">
                    تقارير البرنامج
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Screen/Report.jpg" class="img-responsive img-about" alt=" تقارير البرنامج" />
                <p style="text-align: justify;">
                    يحتوي البرنامج على مجموعة كبيرة من التقارير في كل ما يخص بيانات قسمسوبر ماركت الشفاء
                    تستطيع طباعة ما تشاء من التقارير بضغطة زر لإنهاء كافة المعاملات
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-12">
        <div class="m-heading-1 border-green m-bordered" style="background-color: #f1f4f7;">
            خصائص ومميزات أساسية في برنامجسوبر ماركت الشفاء
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light feature">
            <div class="portlet-title">
                <div class="caption">
                    تسجيل حركات المستخدمين
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Screen/action.jpg" class="img-responsive" alt="" />
                <p style="text-align: justify;">
                    يستطيع مدير النظام مراقبة كافة حركات المستخدمين للبرنامج
                    من إدخال بيانات جديدة أو تعديل بيانات أو حذف بيانات مما يمكن مدير النظام من تحقيق أعلي معدلات
                    الكفاءة في العمل وضمان عدم التلاعب في البيانات
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light feature">
            <div class="portlet-title">
                <div class="caption">
                    صلاحيات المستخدمين
                </div>
            </div>
            <div class="portlet-body">
                <img src="~/assets/Images/Large/Screen/logintab.jpg" class="img-responsive" alt="تسجيل الدخول" />
                <p style="text-align: justify;">
                    يستطيع مدير النظام تحديد النوافذ التي يستطيع المستخدم الدخول عليها
                    وبالتالي يمعني اي موظف من التلاعب بالبيانات
                </p>
            </div>
        </div>
    </div>  
    <div class="col-md-4">
        <img src="~/assets/Images/Large/Screen/ContactUS.png" alt="" class="img-responsive img-about" />
    </div>
</div>

@section OmarRezkAngularFiles{
    <script>
        document.getElementById("Related").className = "col-md-12";
        document.getElementById("MainBody").className = "col-md-12";
    </script>
}
