@{
    ViewBag.Title = "تسجيل عملية بيع";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/Home">
                    الصفحة الرئيسية
                </a>
                <i class="fa fa-angle-left"></i>
            </li>
            <li>
                <a href="#" id="pageTitle">
                    تسجيل عملية شراء
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row" ng-controller="Invoice_CancelCtrl" data-ng-init="Intaize_product()">
    <div class="col-md-12" ng-show="AlertParameter">
        <div class="m-heading-1 border-green m-bordered">
            <span style="color:red"> {{ErrorName}} </span>
            <button type="button" style="margin-top: 6px;" class="close" ng-click="ReomveAlert()"></button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    البيانات الأساسية
                </div>
                <div class="actions" id="EditElements2">
                    <a href="javascript:;" class="btn red" id="PrintInvoice">
                        <i class="fa fa-print"></i>  طباعة الفاتورة
                    </a>

                </div>
                <div class="tools">

                </div>
            </div>
            
            
            <div class="portlet-body">
                <form role='form' name="FormData">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th title="اسم الصنف"> اسم الصنف </th>
                                    <th title="تاريخ الانتاج"> تاريخ الانتاج </th>
                                    <th title="تاريخ انتهاء الصلاحية"> تاريخ الانتهاء </th>
                                    <th title="العدد"> العدد </th>
                                    <th title="سعر الحبة"> سعر الحبة </th>
                                    <th title="ضريبة القيمة المضافة"> ضريبة القيمة المضافة </th>
                                    <th title="اجمالى السعر"> اجمالى السعر </th>
                                    <th colspan="2" style="vertical-align: inherit;"> حذف </th>
                                </tr>

                            </thead>
                            <tbody>

                                <tr ng-repeat="item in  Cls_Invoice_Cancel.ClsInvoiceCancel_Product track by $index">
                                    <td>
                                        <input ng-model="item.Product_Id" name="Product_Id" type='hidden'>
                                        <input name="Product_Name[{{$index}}]" ng-model="item.Product_Name"   type='text' ng-click="loadproduct()" placeholder='اسم الصنف' class='form-control' readonly>
                                    </td>
                                    <td>

                                        <input name="Date_Poduction[{{$index}}]" ng-model="item.Date_Poduction" type="text" datepickerstart class="form-control" data-zdp_readonly_element="true">
                                    </td>
                                    <td>
                                        <input name="Date_Expiration[{{$index}}]" ng-model="item.Date_Expiration" type="text" datepickeend class="datepickeend form-control" data-zdp_readonly_element="true">
                                    </td>
                                    <td>
                                        <input name="Amount[{{$index}}]" ng-model="item.Amount" ng-change="Calculate_itemPrice(item)" type='text' placeholder='العدد' class='form-control'>
                                    </td>
                                    <td>
                                        <input name="Price[{{$index}}]" ng-model="item.Price"   type='text' placeholder='عدد الكراتين' class='form-control' readonly>
                                    </td>
                                    <td>
                                        <input name="Taxes[{{$index}}]" ng-model="item.Taxes" type='text' placeholder=' ضريبة القيمة المضافة ' class='form-control' readonly>
                                    </td>
                                    <td>
                                        <input   name="TotalPrice[{{$index}}]" ng-model="item.TotalPrice" ng-change="Calculate_price()"  required="required" type='text' placeholder=' اجمالى السعر ' class='form-control' readonly>
                                    </td>
                                    <td style="color:red"><a href="javascript:void(0)" ng-click="removeRow($index)"><i class="fa fa-trash-o" style="color:red"></i> حذف</a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </form>
            </div>
            <div class="portlet-title">
                <div class="caption">
                    بيانات الفاتورة 
                    (يتم تسجيل المشترى للدفع بالاجل)
                </div>
            </div>
            <div class="portlet-body">
                <form role='form' name="MoshtaryForm">
                    <div class='row form-body'>
                        <div class='col-md-2 form-group'>
                            <label>رقم الفاتورة</label>
                            <div class='form-group'>
                                <input type='number' class='form-control' readonly placeholder='مسلسل' ng-model="Cls_Invoice_Cancel.ID" value="{{Cls_Invoice_Cancel.ID}}">
                            </div>
                        </div>
                        <div class='col-md-6 form-group'>
                            <label>
                                اسم المشترى
                                (اختيارى)
                            </label>
                            <div class='form-group'>
                                <input ng-model="Cls_Invoice_Cancel.Moshtary_id" value="{{Cls_Invoice_Cancel.Moshtary_id}}" type='hidden'>
                                <input ng-model="Cls_Invoice_Cancel.Moshtary_Name" value="{{Cls_Invoice_Cancel.Moshtary_Name}}" id="Moshtary_Name" placeholder='اسم المورد' ng-click="loadMoshtary()" type='text' class='form-control' readonly>
                            </div>
                        </div>
                        <div class='col-md-2 form-group'>
                            <label id="lblJawalNO">تاريخ الارجاع</label>
                            <div class='form-group'>
                                <input type='text' value="{{Cls_Invoice_Cancel.Date_Invoice | date:'dd/MM/yyyy'}}"  class="form-control" readonly>

                            </div>
                        </div>
                        <div class='col-md-2 form-group'>
                            <label id="lblJawalNO">التوقيت</label>
                             
                            <div class='form-group'>
                                <input type='text'  value="{{Cls_Invoice_Cancel.Date_Invoice | date:'hh:mm a'}}" class="form-control" readonly>
                            </div>
                        </div>



                    </div>

                </form>
            </div>
            <div class='row form-actions' style='text-align:center'>
                <button type='submit' class='btn green' ng-hide="SaveBtn" ng-click="Save()">حفظ</button>
                <button type='submit' class='btn green' ng-hide="EditBtn" ng-click="Save()">تعديل</button>
                <button type='submit' class='btn red' ng-hide="DeleteBtn" ng-click="Delete()">حذف</button>
                <a href="/Home" type='submit' class='btn purple'>إلغاء</a>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-show="dataEntire">
        <div class="note note-info dataEntire">
            <h4 class="profile-desc-title">بيانات الإدخال</h4>
            <div class="col-md-5 profile-desc-link">
                <i class="fa fa-user"></i>
                <span style="color: #5b9bd1">المستخدم</span>
                <br />
                <span style="margin-right: 30px;">{{Cls_Invoice_Cancel.ProgramUser}}</span>
            </div>
            <div class="col-md-2 profile-desc-link">
                <i class="fa fa-desktop"></i>
                <span style="color: #5b9bd1">الكمبيوتر</span>
                <br />
                <span style="margin-right: 30px;">{{Cls_Invoice_Cancel.ComputerName}}</span>
            </div>
            <div class="col-md-2 profile-desc-link">
                <i class="fa fa-sitemap"></i>
                <span style="color: #5b9bd1">مستخدم الشبكة</span>
                <br />
                <span style="margin-right: 30px;">{{Cls_Invoice_Cancel.ComputerUser}}</span>
            </div>
            <div class="col-md-3 profile-desc-link">
                <i class="fa fa-calendar"></i>
                <span style="color: #5b9bd1">التاريخ</span>
                <br />
                <span style="margin-right: 30px;"> {{Cls_Invoice_Cancel.InDate}}</span>
            </div>
        </div>
    </div>
</div>

<style>

</style>

@section Related{
    <div class="row">
        <div class="col-md-12">

            <div class="portlet light">
                <div class="portlet-title" style="text-align: center;">
                    <div class="pricetitle">
                        السعر
                    </div>
                </div>
                <div class="portlet-body" style="text-align: center;">
                    <div id="InvoicePrice" class="uppercase profile-stat-title"></div>
                    <div class="uppercase profile-stat-text"> ريال سعودي </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="calculator">
                <p class="calculatortitle">آلة حاسبة</p>
                <div class="calc-row">
                    <div class="screen">0123456789</div>
                </div>

                <div class="calc-row">
                    <div class="button">%</div>
                    <div class="button plus-minus">+/-</div>
                    <div class="button backspace">back</div>
                    <div class="button">CE</div>
                    <div class="button">C</div>
                </div>

                <div class="calc-row">
                    <div class="button root">sqrt</div>
                    <div class="button divice">/</div>
                    <div class="button">9</div>
                    <div class="button">8</div>
                    <div class="button">7</div>
                </div>

                <div class="calc-row">




                    <div class="button inverse">1/x</div>
                    <div class="button multiply">*</div>
                    <div class="button">6</div>
                    <div class="button">5</div>
                    <div class="button">4</div>
                </div>

                <div class="calc-row">
                    <div class="button pi">pi</div>
                    <div class="button">-</div>
                    <div class="button">3</div>
                    <div class="button">2</div>
                    <div class="button">1</div>
                </div>

                <div class="calc-row">
                    <div class="button equal">=</div>
                    <div class="button">+</div>
                    <div class="button decimal">.</div>
                    <div class="button zero">0</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4 class="page-title">الأدوات</h4>
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption" style="font-size:14px;">
                        روابط ذات صلة
                    </div>
                </div>
                <div class="portlet-body" style="text-align: center;">
                    <a href="/Users/Operation"><i class="fa fa-angle-left"></i>  اضافة مستخدم جديد</a>
                </div>
            </div>
        </div>

    </div>
}

@section OmarRezkAngularFiles{
    <link href="~/assets/layouts/Calclator/Style.css" rel="stylesheet" />
    <link href="~/assets/layouts/Calclator/css.css" rel="stylesheet" />
    <script src="~/assets/layouts/Calclator/Calculator.js"></script>

    <link href="~/assets/layouts/ZebraDatepicker/style/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/layouts/ZebraDatepicker/style/shCoreDefault.min.css" />
    <link href="~/assets/layouts/ZebraDatepicker/style/css/default/zebra_datepicker.min.css" rel="stylesheet" />
    <link href="~/assets/layouts/ZebraDatepicker/examples.css" rel="stylesheet" />
    <script src="~/assets/layouts/ZebraDatepicker/style/shCore.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/style/shBrushJScript.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/style/shBrushXml.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/style/shBrushCss.min.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>

    <script src="~/assets/layouts/ZebraDatepicker/style/zebra_datepicker.min.js"></script>
    <script src="~/assets/layouts/ZebraDatepicker/examples.js"></script>
    <script src="~/App/Main/Invoice_CancelCtrl.js"></script>
}
